{
            "mayhem": {
                        "url": "https://app.mayhem.security",
                        "username": "<username>",
                        "email": "<email>",
                        "token": "<token>"
            }
}